html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

.DayNight {
	bottom: 25px;
  left: 10%;
}
.DayNight::-webkit-slider-thumb{
  background-image: url('images/sliderThumbO.png');
  width: 25px;
  height: 15px;
}
.fog{
	bottom: 50px;
  left: 10%;
}

.fog::-webkit-slider-thumb{
  background-image: url('images/sliderThumbP.png');
  width: 25px;
  height: 15px;
}
.distance{
	bottom: 75px;
  left: 10%;
  
}

.distance::-webkit-slider-thumb{
  background-image: url('images/sliderThumbL.png');
  width: 25px;
  height: 15px;
}
.parallax{
	bottom: 100px;
  left: 10%;
  
}

.parallax::-webkit-slider-thumb{
  background-image: url('images/sliderThumbB.png');
  width: 25px;
  height: 15px;
}


/* new slider */
.slidecontainer {
  width: 10%;
}

.slider  {
  -webkit-appearance: none;
  width: 340px;
  height: 5px;
  background-image: url('images/slider.png');
  background-image: transparent;
  background-color: transparent;
  outline: none;
  opacity: 0.7;
  position: fixed;
  align-content: center;
	justify-content: center;
  z-index: 10;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 10%;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 5px;
  height: 15px;
  border-radius: 50%;
  background-image: url('https://static.thenounproject.com/png/2181172-200.png');
  cursor: pointer;
}
/* new slider end */


.rain {
  position: absolute;
  width: 0.1rem;
  height: 1rem;
  background: #ffffff;
  border-radius: 20%;
  opacity: 1;
  z-index: 7;
}

.rain1 {
  left: 5rem;
  top: 2rem;
  animation: raining 2s linear infinite both;
}

.rain2 {
  left: 15rem;
  top: 10rem;
  animation: raining 3s linear infinite both;
}

.rain3 {
  left: 5rem;
  top: 35rem;
  animation: raining 3s linear infinite both;
}

.rain4 {
  right: 23rem;
  top: 6rem;
  animation: raining 4s linear infinite both;
}

.rain5 {
  left: 25rem;
  top: 47rem;
  animation: raining 3s linear infinite both -3s;
}

.rain6 {
  right: 10rem;
  top: 34rem;
  animation: raining 3s linear infinite both;
}

.rain7 {
  left: 34rem;
  top: 10rem;
  animation: raining 2s linear infinite both -5s;
}

.rain8 {
  right: 25rem;
  top: 40rem;
  animation: raining 3s linear infinite both;
}

.rain9 {
  right: 5rem;
  top: 15.5rem;
  animation: raining 3s linear infinite both;
}

.rain10 {
  left: 24rem;
  top: -4rem;
  animation: raining 2s linear infinite both -3s;
}

@keyframes raining {
  from {
    transform: translateY(-1200px);
  }
  to {
    transform: translateY(869px);
  }
}

.wind {
  position: absolute;
  width: 10%;
  height: 10px;
  background: #ffffff;
  opacity: 1;
  z-index: 7;
}

.wind1 {
  left: -10rem;
  top: 4rem;
  animation: windy 4s linear infinite both;
}

.wind2 {
  left: -10rem;
  top: 5rem;
  width: 15%;
  animation: windy 3s linear infinite both;
}

.wind3 {
  left: -10rem;
  top: 7rem;
  animation: windy 3.5s linear infinite both;
}

.wind4 {
  left: -10rem;
  top: 12rem;
  width: 12%;
  animation: windy 5s linear infinite both;
}

.wind5 {
  left: -10rem;
  top: 15rem;
  width: 15%;
  animation: windy 3.5s linear infinite both;
}

.wind6 {
  left: -10rem;
  top: 17rem;
  animation: windy 5s linear infinite both;
}
@keyframes windy {
  to {
    transform: translateX(120vw);
  }
}
